<ion-view view-title="Charts">
    <ion-content>
        <div class="row">
            <div id="leftPanel"class="col-10 legende">
                <svg id="legendeSvg" height="500px" style="overflow: visible; font: 10px Arial;" width="100%"
                                   xmlns="http://www.w3.org/2000/svg"
                                  >
                    <text x="10" y="15" class="zoneTitle" ng-click="zoomIn()">Zoom In</text>
                    <text x="20" y="30" class="zoneTitle" ng-click="zoomOut()">Zoom out</text>
                    <text x="30" y="45" class="zoneTitle" ng-click="scale()">Scale</text>

                </svg>
            </div>
            <div  id="rightPanel" class="col-90 content2">
                <!-- view box DAY START, 0 , CURRENT VIEW, FIX HEIGHT-->
                <svg id="contentSvg" height="1200px" style="overflow: hidden; font: 10px Arial;" width="2000px" viewBox="10080 0 1440 1200"
                     xmlns="http://www.w3.org/2000/svg" >

                </svg>
            </div>
        </div>
    </ion-content>
</ion-view>
