/* Empty. Add your own CSS if you like */
.zoneTitle {
    border-bottom: 2px solid #3071a9;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    padding-left: 2px;
    padding-top: 8px;
}

.legende {
    background: #white;
    height: 100%;
    z-index: 2;
    width: 150px;
    
}

.content2 {
    background: whitesmoke;
    height: 100%;
    z-index: 1;
    width: calc(100% - 150px);
}

.domain{
    stroke-width: 1px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 130px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;

    border-radius: 8px;
    pointer-events: none;
    z-index: 200;
}
